<div class="container">
  <div class="row">
    <%= simple_form_for @message do |f, a| %>
      <%= f.error_notification %>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :company %>
        <%= f.input :email %>
        <%= f.input :object, required: true, collection: [
          'appointment', 'technical question', 'about my projects', 'other' ] %>
        <%= f.input :content %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.fields_for @appointment do |g| %>
          <%= g.input :appointment_type %>
          <%= g.datetime_picker :date %>
          <%= g.input :address %>
          <%= g.input :phone_number %>
        <% end %>
      </div>
  </div>
        <%= f.button :submit, 'send' %>
  <% end %>
</div>
