<div class="container">
  <div class="row row-form">

    <%= simple_form_for @message do |f, a| %>
      <%= f.error_notification %>
      <div class="col-xs-12 col-sm-6 message-form">

        <%= f.fields_for @user do |g| %>
          <%= g.input :first_name %>
          <%= g.input :last_name %>
          <%= g.input :company %>
          <%= g.input :email %>
          <%= g.input :phone_number %>
        <% end %>

        <%= f.input :object, as: :check_boxes, required: true, collection: [
          'appointment', 'technical question', 'about my projects', 'other' ], input_html: {value: true} %>
        <%= f.input :content, label: 'Message' %>
      </div>
      <div class="col-xs-12 col-sm-6 appointment-form">
        <%= f.fields_for @appointment do |e| %>
          <%= e.input :appointment_type, required: true, collection: [
          'phone', 'skype', 'in person', 'other (please add details in your message)' ], id: 'object-form' %>
          <%= e.input :date, as: :string, input_html: { class: "datepicker" } %>
        <% end %>
      </div>
      <%= f.button :submit, 'send', class: 'big-button btn-message' %>
    </div>
  </div>
  <% end %>
</div>
