<div class="container flex-container">
  <div class="filter-tags">
    <div class="container-tags">
      <% @technologies.each do |technology| %>
        <span class="technology-tag" data-technology-id="<%= technology.id %>" data-state="uncliked"><%= technology.name%></span>
      <% end %>
    </div>
  </div>

  <div class="filter-tags-dropdown">
    <button class="filter-button-dropdown">Filter</button>
    <div class="container-tags-dropdown">
      <% @technologies.each do |technology| %>
        <span class="technology-tag" data-technology-id="<%= technology.id %>" data-state="uncliked"><%= technology.name%></span>
      <% end %>
    </div>
  </div>

  <div class="projects-row">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-6 col-sm-6" id="project<%= project.id %>">
          <div class="box-project">
            <div class="project-box-image" style="background-image: url(<%= cl_image_path project.image %>);">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  const tags = document.querySelectorAll('.technology-tag');

  const searchArray = [];

  function tagEvent(tag) {
    if ( tag.dataset.state == 'unclicked' ) {
      tag.style.opacity = '1';
      tag.dataset.state = 'clicked';
      var indexItem = searchArray.indexOf(tag.dataset.technologyId);
      searchArray.splice(indexItem, 1);
    } else {
      tag.style.opacity = '0.1';
      tag.dataset.state = 'unclicked';
      searchArray.push(tag.dataset.technologyId);
    }

    <% @projects.each do |project| %>
      var technologiesProject = [];
      <% project.used_technologies.each do |technology| %>
        technologiesProject.push('<%= technology.technology_id %>');
      <% end %>
      if (searchArray === undefined || searchArray.length == 0) {
        document.getElementById('project<%= project.id %>').style.display = 'block';
        setTimeout(function() { document.getElementById('project<%= project.id %>').style.padding = '0 0'; }, 200);
      }

      function checkPresence(searchItem) {
        return technologiesProject.includes(searchItem);
      }

      if ( searchArray.every(checkPresence) ) {
        document.getElementById('project<%= project.id %>').style.display = 'block';
        setTimeout(function() { document.getElementById('project<%= project.id %>').style.padding = '0 0'; }, 0);
      } else {
        document.getElementById('project<%= project.id %>').style.padding = '0 50%';
        setTimeout(function() { document.getElementById('project<%= project.id %>').style.display = 'none'; }, 500);
      }

    <% end %>
  }

  tags.forEach(function(tag) {
    tag.addEventListener('click', function() {tagEvent(tag) });
  });

</script>
