<canvas id="canvas"></canvas>

<%= render 'shared/ask_for_turn_screen' %>

<%= render 'shared/navbar' %>

<div id="fullpage">
  <div class="section" id="home-section">
    <%= render 'shared/landing_page' %>
  </div>
  <div class="section" id="projects-section">
    <%= render 'shared/projects_index' %>
  </div>
  <div class="section" id="services-section">
    <%= render 'shared/services' %>
  </div>
  <div class="section" id="contact-section">
    <%= render 'shared/contact_section' %>
  </div>
</div>


<%= render 'shared/footer' %>
<div class="arrow-down-container">
  <div class="arrow-down arrow-down-animated"></div>
  <div class="arrow-down arrow-down"></div>
</div>
