<!-- <p>ip: <%= request.remote_ip %></p>
<p>add: <%= request.remote_addr %></p>

 -->
<div class="custom-nav-bar">
  <%= cl_image_tag "logo-inho.svg", alt: 'logo', id: 'logo-inho' %>
  <div class="navigation">
    <ul>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>

<div id="fullpage">
  <div class="section">
    <%= render 'shared/landing_page' %>
  </div>
  <div class="section">
    <%= render 'shared/projects_index' %>
  </div>
  <div class="section">
    <%= render 'shared/contact_section' %>
  </div>
</div>
